<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div>
      <p>Dear Fellow {{obj.user.profile.full_name}}</p>
    </div>

    <div>
      <p>Greetings from Environmental Security Force !!!</p>
    </div>

    <div>
      <p>Thank you for taking the '{{obj.pledge.title}}' Pledge.</p>
    </div>

    <div>
      <p>.</p>
    </div>


    
    <div>
      <p>Please note that the name printed on the Certificate is as per the entry made by you at the time of participation and as provided to us by EFS and, thus, we are unable to entertain any correspondence as to correction of name or otherwise.</p>
    </div>

    <div>
      <p>Wishing you the best in all your endeavours.</p>
    </div>

    <div>
      <p>Regards,</p>
    </div>

    <div style="line-height: normal;">
      EFS Team
      <a href="https://www.srcouncil.in" target="_blank">https://www.srcouncil.in</a>
    </div>

  </body>
</html>
