<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div>
      <p>Dear Mr./Ms. {{obj.name}}</p>
    </div>

    <div>
      <p>Greetings from Social Responsibility Council</p>
    </div>

    <div>
      <p>With reference to your participation in the Sustainable Environment and Energy Summit 2021, organised by the Social Responsibility Council on 22th December 2021. We are pleased to have your presence at the summit. </p>
    </div>

    <div>
      <p style="color:blue;">Please find attached herewith, your Certificate of Participation, Our Summit Brochure and Statement of Oath.</p>
    </div>

    <div>
      <p>Regards,</p>
    </div>

    <div style="line-height: normal;">
      Arun Khurana<br>
      Founder, SRC<br>

      <a href="http://www.srcouncil.in">https://www.srcouncil.in</a>
    </div>

  </body>
</html>
